body{
  margin: 0 auto;
}

img{
  position: absolute;
}

.black{
  z-index: 1;
  width: 100vw;
}

.nhk{
  z-index: 10;
  width: 10vw;
  margin-left: 80vw;
  margin-top: 40vw;
}

.neet{
  z-index: 10;
  margin-left: 20vw;
}